<div class="d-flex flex-column align-items-center justify-content-center h-75">
  <div class="icon-xl icon-page-status">
    <div class="position-relative">
      <span class="icon-automation"></span>
    </div>
  </div>
  <section>
    <h1 class="unauthorized position-relative mt-4">403</h1>
    <h2 class="unauthorized-text text-uppercase font-semi-bold mt-2">UnAuthorized</h2>
    <div class="mt-5">
      <button class="btn btn-block btn-primary" type="button" title="Go To HomePage">
        <a routerLink="/" class="text-white">Go To HomePage</a>
      </button>
    </div>
  </section>
</div>