<div class="my-3">
    <h2>Merge Map</h2>
    <br>
  
    <div class="row">
      <div class="col-md-4">
        <strong>Ex-01</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Map</strong>Map
        </p>
        <br>
        <!-- <ul >
              <li>  data </li>
              <li>  data </li>
              <li>  data </li>
          </ul> -->
        <ul id="elContainer"> </ul>
      </div>
      <div class="col-md-4">
        <strong>Ex-02</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Map:</strong>Map + ConcatAll
        </p>
        <br>
        <!-- <ul >
          <li> data </li>
          <li> data </li>
          <li> data </li>
        </ul> -->
        <ul id="elContainer2"> </ul>
      </div>
      <div class="col-md-4">
        <strong>Ex-03</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Map</strong>concatMap
        </p>
        <br>
        <!-- <ul >
          <li> data </li>
          <li> data </li>
          <li> data </li>
        </ul> -->
        <ul id="elContainer3"> </ul>
      </div>
    </div>
  </div>
  