<div class="my-3">
  <h2>Switch Map</h2>
  <br>

  <!-- <div class="row">
    <div class="col-md-4">
      <strong>Ex-01</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong>Map
      </p>
      <br>
      <ul id="elContainer"> </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-02</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map:</strong>Map + SwitchAll
      </p>
      <br>
      <ul id="elContainer2"> </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-03</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong>switchMap
      </p>
      <br>
      <ul id="elContainer3"> </ul>
    </div>
  </div> -->

  <!--      difference     -->
  <h1>difference</h1>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-01</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>MergeMap</strong>
      </p>
      <ul id="elContainer"> </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-02</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>ConcatMap</strong>
      </p>
      <ul id="elContainer2"> </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-03</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>switchMap</strong>
      </p>
      <ul id="elContainer3"> </ul>
    </div>
  </div>
</div>
